.center-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-black {
    background-color: black;
    color: white;
}

.image-container {
    margin-top: 50px;
}

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}


#quote-carousel .carousel-control {
    color: white;
    font-size: 100px;
    z-index: 100;
    background-color: transparent;
    box-shadow: none;
}


#quote-carousel .carousel-control.left {
    left: -12px;
}


#quote-carousel .carousel-control.right {
    right: -12px;
}


#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}

#quote-carousel .carousel-indicators li {
    background: grey;
}

#quote-carousel .carousel-indicators .active {
    background: black;
}

#quote-carousel img {
    width: 250px;
    height: 100px;
}

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    #quote-carousel {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
    }
}

@media (max-width: 768px) {
    #quote-carousel .carousel-indicators {
        bottom: 100px;
    }

    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }

    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

#quote-carousel .carousel-control .fa {
    text-shadow: none;
}

table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 5%;
}

td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

#titleLogin {
    color: black;
    text-align: center;
}

.signup-box, .login-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
}

.signup-box h1, .login-box h1{
    text-align: center;
    padding-bottom: 5%;
}

.signup-group input, .login-box input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border: 2px solid black;
}

.signup-group button, .login-box button{
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    width: 100%;
    max-width: 180px;
}

#about_us_id h1, #team_id h1 {
    text-align: center;
}

#team_id p {
    text-align: center;
}

#hide, #show {
    background-color: black;
    color: white;
}
.button-center{
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}