{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<head>
    <title>About Us</title>

    <div class="container" id="about_us_id">
        <h1>About Us</h1>
        <p>At CheapoGas, 
            our primary objective is to make a meaningful impact on people's lives by providing a reliable resource for 
            finding the most cost-effective gas prices in their local area. 
            We understand the importance of saving money, so we've created a platform allowing users to check gas prices effortlessly before even stepping into their cars. 
            Our commitment to this goal drives everything we do, and we're dedicated to continually improving our services to serve our community better.</p>
    </div>

    <div class="container" id="team_id">
        <h1>Meet The Team</h1>
        <p>Alvin Hunter</p>
        <p>Cristian Figueiredo</p>
        <p>Alexander Matthews</p>
    </div>
</head>
{% endblock %}